.Header a {
  font-family: "Anton", sans-serif;
  text-decoration: none;
  color: #f2fdff;
}

.Header h1 {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0%);
}

.Header .BucketAttributionContainer {
  display: flex;
  justify-content: space-between;
  line-height: 0;
  background-color: #101935;
  padding: 50px 20px 0px 20px;
}
