.eventImage {
  display: none;
}

.Event {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px;
  margin: 5px;
  /* width: 99vw; */
}

.Event .td1 {
  width: 0px;
}
.Event .td2 {
  width: 30%;
}
.Event .td3 {
  width: 20%;
}
.Event .td4 {
  width: 20%;
}
.Event .td5 {
  width: 20%;
}
.Event .td6 {
  width: 10%;
}

.Event :link {
  text-decoration: none;
}

.Event h4 {
  margin: 5px;
  font-family: "Nunito", sans-serif;
}

.Event h3 {
  margin: 5px;
  font-family: "Anton", sans-serif;
}

@media screen and (min-width: 768px) {
  .eventImage {
    display: block;
    height: 100px;
    width: 150px;
  }

  .Event .td1 {
    width: 150px;
  }
}
